---
- name: Ensure vault container is running
  docker_container:
    name: "{{ vault_docker_name }}"
    image: "{{ vault_docker_image }}:{{ vault_docker_tag }}"
    network_mode: host
    etc_hosts: "{{ vault_container.etc_hosts | default(omit) }}"
    capabilities: IPC_LOCK
    volumes: "{{ _vault_volumes }}"
    comparisons:
      '*': strict
    env:
      VAULT_LOCAL_CONFIG: "{{ vault_config | to_json }}"
    command: >
      server
  become: True

- name: Check if vault is initialized
  uri:
    url: "https://{{ vault_vip_url }}:8200/v1/sys/init"
  register: vault_init_status
  retries: 10
  delay: 2
  until: result.failed is not defined

- name: Initialize vault
  command: "docker exec -e 'VAULT_ADDR=https://{{ vault_vip_url }}:8200' {{ vault_docker_name }} vault operator init -format yaml"
  when: not vault_init_status.json.initialized
  run_once: True
  register: vault_init_output

- name: Set fact
  set_fact:
    vault_keys: "{{ vault_init_output.stdout | from_yaml }}"
  when: not vault_init_status.json.initialized

- name: Print vault keys
  debug:
    var: vault_keys
  when: not vault_init_status.json.initialized
