---
consul_docker_name: "consul"
consul_docker_image: "consul"
consul_docker_tag: "latest"
consul_docker_volume: "consul_data"

vault_docker_name: "vault"
vault_docker_image: "vault"
vault_docker_tag: "latest"

vault_cluster_name: ""
# Allow vault_vip_url and vault_vip_address for backwards compatibility.
vault_vip_address: "{{ vault_vip_url | default('') }}"
vault_api_addr: "{{ ('https://' ~ vault_vip_address ~ ':8200') if vault_vip_address else '' }}"
vault_bind_address: ""
vault_tls_key: ""
vault_tls_cert: ""

vault_config_dir: ""

vault_config: >
  {
    "cluster_name": "{{ vault_cluster_name }}",
    "ui": true,
    "api_addr": "{{ vault_api_addr }}",
    "listener": [{
      "tcp": {
        "address": "{{ vault_bind_address }}:8200",
        {% if vault_tls_key and vault_tls_cert %}
        "tls_min_version": "tls12",
        "tls_key_file": "/vault/config/tls.key",
        "tls_cert_file": "/vault/config/tls.cert"
        {% else %}
        "tls_disable": "true"
        {% endif %}
      }{% if vault_bind_address != '127.0.0.1' %},
    },
    {
      "tcp": {
        "address": "127.0.0.1:8200",
        "tls_disable": "true"
      }
    {% endif %}
    }],
    "storage": {
    "consul": {
       "address": "127.0.0.1:8500",
       "path": "vault/"
      }
    },
    "telemetry": {
      "prometheus_retention_time": "30s",
      "disable_hostname": true
    }
  }


consul_bind_interface: ""
consul_bind_ip: "{{ hostvars[inventory_hostname]['ansible_'~consul_bind_interface].ipv4.address }}"
consul_vip_address: ""

# Docker options
vault_container: {}
consul_container: {}

# Docker volumes
# Default volume mapping
_vault_default_volumes:
  - "{{ vault_config_dir }}:/vault/config"
_consul_default_volumes:
  - "{{ consul_docker_volume }}:/consul/data"

# Exposed for playbooks to access later
vault_extra_volumes: []
consul_extra_volumes: []

# Combined volume lists
_vault_volumes: "{{ _vault_default_volumes + vault_extra_volumes }}"
_consul_volumes: "{{ _consul_default_volumes + consul_extra_volumes }}"

copy_self_signed_ca: false
